/* Fonts */
body:not(.bso-disabled) body,
body:not(.bso-disabled) .inner-content p {
  font-family: 'Roboto', Arial, sans-serif !important;
  line-height: 1.7;
}

/* Full width */
body:not(.bso-disabled) .top-bar div {
  max-width: unset !important;
}

body:not(.bso-disabled) .container {
  max-width: unset !important;
}

body:not(.bso-disabled) #content {
  max-width: unset !important;
}

body:not(.bso-disabled) .site-footer--container {
  max-width: unset !important;
}

/* Sidebar styles */
body:not(.bso-disabled) .sidebar-linked,
body:not(.bso-disabled) .sidebar-related {
  border: 1px solid #404345;
  border-radius: 3px;
}

body:not(.bso-disabled) .sidebar-linked {
  padding: 5px 15px;
}

body:not(.bso-disabled) .sidebar-related {
  padding: 15px 15px 0 15px;
}
