body,
.inner-content p {
  font-family: 'Roboto', Arial, sans-serif !important;
  line-height: 1.7;
}

.top-bar div {
  max-width: unset !important;
}

.container {
  max-width: unset !important;
}

#content {
  max-width: unset !important;
}

.site-footer--container {
  max-width: unset !important;
}

.sidebar-linked,
.sidebar-related {
  border: 1px solid #404345;
  border-radius: 3px;
}

.sidebar-linked {
  padding: 5px 15px;
}

.sidebar-related {
  padding: 15px 15px 0 15px;
}
